.App{
  display: flex;
  align-items: center;
  justify-content:flex-end;
  height: 100px;
  margin-right: 54px;
}

.nav__button{
  margin: 0 12px;
  width: 80px;
  height: 30px;
  padding: 2px;
}

.skeleton{
    opacity: 0.7;
    animation: skeleton-loading 1s linear infinite alternate;
    border-style: none;
  }

@keyframes skeleton-loading{
  0%{
    background-color: hsl(200, 20%, 70%);
  }
  100%{
    background-color: hsl(200, 20%, 95%);
  }
}

.other{
  display: none;
}